h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgba(78, 167, 245, 0.721), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover {
    background-color: rgb(78, 167, 245, 0.721);
  }

  .flex-container {
    display: flex;
    background-color: white;
    opacity: 0.9;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color:black;
    background-size: cover;
    height: 100%;
  }